.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f8f9fa;
    -fx-padding: 20;
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #343a40;
    -fx-padding: 10 0 20 0;
}

.section-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #495057;
}

.button {
    -fx-background-color: #343a40;
    -fx-text-fill: #00ffd0;
    -fx-font-weight: bold;
    -fx-padding: 6 12;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #212529;
}

.combo-box {
    -fx-background-radius: 5;
}

.label {
    -fx-text-fill: #212529;
}
.file-label {
    -fx-text-fill: #6c757d;
    -fx-font-style: italic;
}